<br>
<br>
<!-- <h1>Employee List</h1> -->

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">

    <div class="w-50">
    <div class="form-group col-md-6 inline">
        <input
          [(ngModel)]="EnteredName"
          (ngModelChange)="filterEmployees()"
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Search by First or Last Name"
        >
      </div>
    </div>
    <br>
    <br>
<div>
<table style="margin-bottom: 50px;" class=" table table-responsive table-striped  border-dark">

    <thead class="table-dark ">
        <tr>
            <th>Id &nbsp;&nbsp;</th>
            <th>First Name &nbsp;&nbsp;</th>
            <th>Last Name &nbsp;&nbsp;</th>
            <th>Email &nbsp;&nbsp;</th>
            <th>Salary &nbsp;&nbsp;</th>
            <th>Department &nbsp;&nbsp;</th>
            <th>Designation &nbsp;&nbsp;</th>
            <th>Joining Date &nbsp;&nbsp;</th>
            <th>Actions &nbsp;&nbsp;</th>
        </tr>

    </thead> 

    <tbody>
        <tr *ngFor="let employee of (filteredEmployees.length ? filteredEmployees : employees)">
          <td>{{employee.id}}</td>
          <td>{{employee.fname}}</td>
          <td>{{employee.lname}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.salary}}</td>
          <td>{{employee.department}}</td>
          <td>{{employee.designation}}</td>
          <td>{{employee.joiningDate}}</td>
          <td>
            <button (click)="detailsOfEmployee(employee.id)" class="btn btn-success btn-sm">View</button>
          </td>
        </tr>
      </tbody>


</table>
<br><br><br><br>
</div>

